html,
body {
  font-family: "Avenir LTStd-Black", "Phetsarath OT" !important;
}
@font-face {
  font-family: "Avenir LTStd-Black";
  src: url("../fonts/AvenirLTStd-Black.otf"),
    url("../fonts/AvenirLTStd-Book.otf"), url("../fonts/AvenirLTStd-Roman.otf");
}
@font-face {
  font-family: "Phetsarath OT";
  src: url("../fonts/phetsarath_ot.ttf");
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.navbar,
.brand,
a,
.td-name,
td,
button,
input,
select,
textarea {
  font-family: "Avenir LTStd-Black", "Phetsarath OT" !important;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  margin: 30px 0 0;
}

h1,
.h1 {
  font-size: 3.6em;
}

h2,
.h2 {
  font-size: 2.8em;
}

h3,
.h3 {
  font-size: 1.825em;
  line-height: 1.4;
  margin: 20px 0 0px;
}

h4,
.h4 {
  font-size: 1.6em;
  line-height: 1.2em;
}

h5,
.h5 {
  font-size: 1.35em;
  line-height: 1.4em;
}

h6,
.h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em;
}

p {
  font-size: 15px;
  line-height: 1.5em;
  margin-bottom: 5px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  color: #9a9a9a;
  line-height: 1.5em;
}

h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
  font-size: 60%;
}
a,
.a {
  color: #7e7669;
}
a:hover,
.a:hover {
  color: chocolate;
}
a:active,
.a:active {
  color: #baaa99;
}

a:focus,
.a:focus {
  color: chocolate;
}

i,
.i {
  color: #55514e;
}
i:hover,
.i:hover {
  color: chocolate;
}