doctype html
html
  head
    title BACKEND API
    
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/app.js')
  body
    <span class="text-nowrap">
    //- <img class="mb-4" src="/images/logo.jpg" alt="" width="72" height="72">
    <a class="btn btn-primary btn-lg" href="/users">Users</a>
    <a class="btn btn-danger btn-lg" onclick="logout()">Logout</a>
    </span>
    <hr>
    block content
