extends layout

block content
  <form class="text-center form-signin">
    //- <img class="mb-4" src="/images/api_background.jpg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" id="username" class="form-control" placeholder="Username" required="" autofocus=""><br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" required="">

    <button class="mt-3 btn btn-lg btn-primary btn-block" onclick="return login()">Sign in</button>
  </form>
